<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>

<body>

<h2>All film list</h2>
<br><br>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Year of issue</th>
        <th>Producer</th>
        <th>Operation</th>

    </tr>

    <tr th:each="film: ${allFilms}">



        <td th:text="${film.id}"></td>
        <td th:text="${film.name}"></td>
        <td th:text="${film.description}"></td>
        <td th:text="${film.yearOfIssue}"></td>
        <td th:text="${film.producer}"></td>

        <td>

            <a th:href="@{/updateFilm(id=${film.id})}"> <input type="button" value="update"></a>
            <a th:href="@{/deleteFilm(id=${film.id})}"><input type="button" value="delete"></a>

        </td>
    </tr>

</table>

<br>

<input type="button" value="add"
               onclick="window.location.href='addFilm'">
<br>
<!--<div th:replace="::frag (onevar=1,twovar=${totalPage})">-->
<!--<input type="button" th:value="${onevar}"-->
<!--       onclick="window.location.href=''">-->
<!--</div>-->
<br>
<br>
<input type="button" value="main"
       onclick="window.location.href='/'">




</body>


</html>